solutions/SelfServiceAgent/Workflows/Sendamailaction-5ECE1401-9C11-F011-998A-000D3A8B4491.json
{
  "properties": {
    "connectionReferences": {
      "shared_office365": {
        "runtimeSource": "invoker",
        "connection": {
          "connectionReferenceLogicalName": "ava_sharedoffice365_b6f35"
        },
        "api": {
          "name": "shared_office365"
        }
      },
      "shared_smartsheet": {
        "runtimeSource": "invoker",
        "connection": {
          "connectionReferenceLogicalName": "new_sharedsmartsheet_e63bf"
        },
        "api": {
          "name": "shared_smartsheet"
        }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections": {
          "defaultValue": {},
          "type": "Object"
        },
        "$authentication": {
          "defaultValue": {},
          "type": "SecureObject"
        }
      },
      "triggers": {
        "manual": {
          "metadata": {
            "operationMetadataId": "75c6fe55-35b9-43ac-9c49-a50f0d76c370"
          },
          "type": "Request",
          "kind": "Button",
          "inputs": {
            "schema": {
              "type": "object",
              "properties": {},
              "required": []
            }
          }
        }
      },
      "actions": {
        "Send_an_email_(V2)": {
          "runAfter": {
            "Get_a_sheet": [
              "Succeeded"
            ]
          },
          "metadata": {
            "operationMetadataId": "0f2e1294-82f0-4fda-b2a7-ef008b3d548a"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_office365",
              "operationId": "SendEmailV2",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365"
            },
            "parameters": {
              "emailMessage/To": "amitav.anand@s63fb.onmicrosoft.com",
              "emailMessage/Subject": "Test email",
              "emailMessage/Body": "<p>Test email with Deployment Settings JSON file.<br>\n<br>\nThanks<br>\nAmitav</p>",
              "emailMessage/Importance": "Normal"
            },
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
            }
          }
        },
        "List_the_sheets": {
          "runAfter": {},
          "metadata": {
            "w737212649236356": "Power Platform POC",
            "operationMetadataId": "47b9440c-9939-493c-9d7e-39445200e98b"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_smartsheet",
              "operationId": "ListSheets",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_smartsheet"
            },
            "parameters": {
              "optionalFolderId": "w737212649236356"
            },
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
            }
          }
        },
        "Get_a_sheet": {
          "runAfter": {
            "List_the_sheets": [
              "Succeeded"
            ]
          },
          "metadata": {
            "6552186218565508": "1. Power Platform POC Tasks",
            "operationMetadataId": "d56737b8-b511-4b0b-aa80-7a54ddf18217"
          },
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_smartsheet",
              "operationId": "GetSheet",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_smartsheet"
            },
            "parameters": {
              "sheetId": "6552186218565508"
            },
            "authentication": {
              "type": "Raw",
              "value": "@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"
            }
          }
        }
      }
    },
    "templateName": ""
  },
  "schemaVersion": "1.0.0.0"
}